{{ template "head" "Page List" }}
            <h1>Page List</h1>

            <ul>
                {{ range . }}
                <li><a href="/view/{{ . }}">{{ . }}</a> [<a href="/edit/{{ . }}">edit</a>] [<a href="/delete/{{ . }}">delete</a>]
                {{ end }}
            </ul>
{{ template "foot" }}
